[submodule "xiyo.imba"]
	path = xiyo.imba
	url = https://github.com/scanf/xiyo.imba
[submodule "sticky-notes"]
	path = sticky-notes
	url = https://github.com/scanf/sticky-notes
[submodule "jd"]
	path = jd
	url = https://github.com/scanf/jd
